.Products-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

  .item {
    align-items: center;
    cursor: pointer;
    width: 150px;
    margin-top: 3rem;
    padding: 1rem;
    background-color: rgb(39, 39, 39);
    box-shadow: 0px 2px 4px -1px rgba(225, 225, 225, 0.2), 0px 4px 5px 0px rgba(225, 225, 225,0.14), 0px 1px 10px 0px rgba(225, 225, 225,0.12);
  }
  .item:hover {
    box-shadow: 0px 2px 4px 1px rgba(60, 68, 219, 0.2), 0px 4px 5px 0px rgba(60, 68, 219, 0.2), 0px 1px 10px 0px rgba(60, 68, 219, 1.12);
  }
  .pItem {
    color: white;
  }
  .img-car{
    width: 100px;
    height: 100px;
  }
}
