.Main-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  .children-container {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-around;

    .panel-left {
      padding-top: 40px;
      height: 100%;
      color: white;
      width: 63%;
    }

    .panel-right {
      height: 100%;
      color: white;
      flex-direction: column;
      align-items: center;
      width: 27%;
      position: relative;
    }
  } 
  @media (max-width: 700px) {
    .panel-right {
      width: 1%!important;
    }
    .panel-left {
      width: 99%!important;
    }
  }
}